__pycache__/
*.dmb
*.rsc
*.int
*.lk
*.zip
*.ipynb
*.pkl
create_data/emnlp19-BASIL/*
*.DS_Store
models/checkpoints/bert_for_embed/
reports/
data/*.csv
data/
experiments/adapt_dapt_tapt/pretrained_models/
