__pycache__/
*.dmb
*.rsc
*.int
*.lk
*.zip
*.ipynb
*.pkl
create_data/emnlp19-BASIL/*
*.DS_Store
models/checkpoints/bert_for_embed/
reports/bert_baseline/results_table_before.csv
data/*.csv
experiments/sent_clf/ssc/tmp_output_dir/
experiments/sent_clf/ssc/pretrained_models/
